body {
  margin: 0;
  padding: 0;
}
.brand {
  display: flex;
}

.brand h1 {
  margin: auto;
}
nav {
  height: 40px;
  margin: auto;
  background: red;
  display: flex;
  justify-content: space-around;
}
nav .navbar ul,
a {
  text-decoration: none;
  color: #222;
  list-style-type: none;
}

nav .navbar ul {
  display: flex;
}
button{
    margin:auto 50px;
}
li {
  margin: auto 15px;
}
